@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Signika:wght@300;400;500;600;700&display=swap");

body {
  /* background-color: #ffffff; */
  background-color: #e5e5e5;
  font-family: "poppins", "san-serif";
}

.btn{
    border: none;
    border-radius: 6;
    font-size: 13px;
    margin: 4px;
};
.form-control, .form-check-label{
    margin: 4px;
}
::placeholder, label{
    font-size: 13px;
}
input[type=date]:required:invalid::-webkit-datetime-edit {
    color: black;
    font-size: 13px;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: gray !important;
    font-size: 13px;
}
input[type=date]{
    color: gray !important;
    font-size: 13px;
}
.card{
    padding: 10px;
}
p{
    font-size: 13px;
    line-height: 0;
}